<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>-->




<title>Portland Crime Map</title>
</head>
<body>
<!--Begin Template-->
 <div class="navbar navbar-custom navbar-fixed-top">
 <div class="navbar-header"><a class="navbar-brand" href="#">Crime Mapper</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--
        <li class="active"><a href="http://saashimi.github.io/blog">About</a></li>
        <li><a href="http://trimet.org/schedules/index.htm">Maps</a></li>
        <li><a href="http://trimet.org">Trimet Home</a></li> -->
        
        <li>
        <div class="checkbox"> 
            <label><input type="checkbox" id="Aggravated Assault">Aggravated Assault
            </label>
        </div>
      </li>
        <li>
        <div class="checkbox"> 
            <label><input type="checkbox" id="Arson">Arson
            </label>
        </div>
      </li>
        <li class="checkbox"> 
            <label><input type="checkbox" id="Assault, Simple">Simple Assault
            </label>
        </li>        
        <li class="checkbox"> 
            <label><input type="checkbox" id="Burglary">Burglary
            </label>
        </li>
        <li class="checkbox"> 
            <label><input type="checkbox" id="Curfew">Curfew
            </label>
        </li>
        <li class="checkbox"> 
            <label><input type="checkbox" id="Disorderly Conduct">Disorderly Conduct
            </label>
        </li>

        <li class="checkbox"> 
            <label><input type="checkbox" id="DUII">DUII
            </label>
        </li>
        <li class="checkbox"> 
            <label><input type="checkbox" id="Homicide">Homicide
            </label>
        </li>
        <!--<li>&nbsp;</li>-->
      </ul>
      <form class="navbar-form" id="mapInput">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            <div class="input-group-btn">
              <select class="form-control" id="routes">
                <option>Select a DataSet</option>      
                <option value="2014">2014 Data</option>
                <option value="2013">2013 Data</option>
                <option value="2012">2012 Data</option>
               
              </select>             
            </div>
          </div>
         </div>
        </div>
      </form>
    </div>
</div>

<div id="map" class="map"></div>
<div class="container-fluid" id="main">
  <div class="row">
  <div class="col-xs-12"></div>    
  </div>
</div>
<!-- The script has to follow the map div for whatever reason. Otherwise it won't work. -->
    <script type="text/javascript" src="../static/js/ol.js"></script>
    <script type="text/javascript" src="../static/js/styleDefs.js"></script>
    <script type="text/javascript" src="../static/js/mapScript.js"></script>

</body>
</html>