<!DOCTYPE html>
<html>
<!--Adapted from github.com/jumpinjackie.bootstrap-viewer-template-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/ol.css" />
    <link rel="stylesheet" href="../static/css/crimemap.css" />   
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <title>Portland Crime Map</title>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="../static/js/ol.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/mapScript.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Portland Crime Map (Beta)</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
      </nav>
      <div class="navbar-offset"></div>
      <div id="map">
      </div>
      <div class="row main-row">
        <div class="col-sm-4 col-md-3 sidebar sidebar-left pull-left">
          <div class="panel-group sidebar-body" id="accordion-left">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#layers">
                    <i class="fa fa-list-alt"></i>
                    Layers
                  </a>
                  <span class="pull-right slide-submenu">
                    <i class="fa fa-chevron-left"></i>
                  </span>
                </h4>
              </div>
              <div id="layers" class="panel-collapse collapse in">
                <div class="panel-body list-group">
                  <a href="#" class="list-group-item">
                    <i class="fa fa-globe"></i> Open Street Map
                  </a>
                  <a href="#" class="list-group-item">
                    <i class="fa fa-globe"></i> Bing
                  </a>
                  <a href="#" class="list-group-item">
                    <i class="fa fa-globe"></i> WMS
                  </a>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#data">
                    <i class="fa fa-list-alt"></i>
                    Data View
                  </a>
                  <span class="pull-right slide-submenu">
                    <i class="fa fa-chevron-left"></i>
                  </span>
                </h4>
              </div>
              <div id="layers" class="panel-collapse collapse in">
                <div class="checkbox">
                  <label><input type="checkbox" value="ag.assault">Aggravated Assault</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="arson">Arson</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="sm.assault">Assault, Simple</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="burglary">Burglary</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="homicide">Homicide</label>
                </div>
                
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#properties">
                    <i class="fa fa-list-alt"></i>
                    Properties
                  </a>
                </h4>
              </div>
              <div id="properties" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>
                  Detailed crime data should be shown here upon user click of markers.
                  </p>
                  <p>
                  More data.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mini-submenu mini-submenu-left pull-left">
        <i class="fa fa-list-alt"></i>
      </div>
    </div>
  </body>
=======
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>-->

<title>Portland Crime Map</title>
</head>
<body>

<!-- Sidebar -->
<div id="wrapper">

<div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="list-style: none;">

        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Aggravated Assault">Aggravated Assault
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Arson">Arson
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Assault, Simple">Simple Assault
              </label>
          </div>
        </li>  
        <li>      
          <div class="checkbox"> 
              <label><input type="checkbox" id="Burglary">Burglary
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Curfew">Curfew
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Disorderly Conduct">Disorderly Conduct
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Drugs">Drugs
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="DUII">DUII
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Embezzlement">Embezzlement
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Forgery">Forgery
              </label>
          </div>
        </li>        
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Fraud">Fraud
              </label>
          </div>       
        </li>
        <li>
        <div class="checkbox"> 
            <label><input type="checkbox" id="Homicide">Homicide
            </label>
        </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Kidnap">Kidnap
              </label>
          </div>
        </li>  
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Larceny">Larceny
              </label>
          </div>
        </li>             
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Liquor Laws">Liquor Laws
              </label>
          </div>
        </li>        <!--<li>&nbsp;</li>-->
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Motor Vehicle Theft">Motor Vehicle Theft
              </label>
          </div>
        </li>      
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Offenses Against Family">Offenses Against Family
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Prostitution">Prostitution
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Rape">Rape
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Robbery">Robbery
              </label>
          </div>
        </li>      
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Runaway">Runaway
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Sex Offenses">Sex Offenses
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Stolen Property">Stolen Property
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Trespass">Trespass
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Vandalism">Vandalism
              </label>
          </div>
        </li>
        <li>
          <div class="checkbox"> 
              <label><input type="checkbox" id="Weapons">Weapons
              </label>
          </div>
        </li>

        <a href="#violent-crime" class="btn btn-default" id="violence">Map Violent Crimes Only</a>

        <li>&nbsp;</li>
        
        <a href="#clear" class="btn btn-default" id="clear">Clear All Selections</a>

      </ul>
        </div>
      </div>

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

<!--Begin Navbar-->
 <div class="navbar navbar-custom navbar-fixed-top">
 <div class="navbar-header"><a class="navbar-brand" href="#">Crime Mapper</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--
        <li class="active"><a href="http://saashimi.github.io/blog">About</a></li>
        <li><a href="http://trimet.org/schedules/index.htm">Maps</a></li>
        <li><a href="http://trimet.org">Trimet Home</a></li> -->
          
        
        <a href="#menu-toggle" class="btn btn-default top_btn" id="menu-toggle">Toggle Crime Menu</a>

      <li>
      <form class="navbar-form" id="mapInput">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            <div class="input-group-btn">
              <select class="form-control" id="dataset">
                <option>Select a DataSet</option>      
                <option value="Crime2014">2014 Data</option>
                <option value="Crime2013">2013 Data</option>
                <option value="Crime2012">2012 Data</option>
                <option value="Crime2011">2011 Data</option>
                <option value="Crime2010">2010 Data</option>
              </select>             
            </div>
          </div>
         </div>
        </div>
      </form>
    </li>
</ul>
    </div>
</div>


<div id="popup" title="Crime Detail"></div>
    </div>



<div id="map" class="map"></div>
<div class="container-fluid" id="main">
  <div class="row">
  <div class="col-xs-12"></div>    
  </div>
</div>



            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

    </div>



<!-- The script has to follow the map div for whatever reason. Otherwise it won't work. -->
    <script type="text/javascript" src="../static/js/ol.js"></script>
    <script type="text/javascript" src="../static/js/styleDefs.js"></script>
    <script type="text/javascript" src="../static/js/mapScript.js"></script>

</body>
</html>